@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
  }

.container {
    padding: 60px 140px;
  }
.banner {
    background-color: #171B21;
    padding: 30px 0 80px 60px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* min-height: 400px; */
  }
.banner:hover img{
    transform: translate(0, -20px) scale(1.2);
    transition: .5s;
}

.banner-info {
    width: 30vw;
    /* padding-bottom: 80px; */
  }
.banner-info p {
    font-size: 16px;
    color: #ffffff;
    margin-top: -20px;
    padding-bottom: 20px;
  }

.banner img {
    width: 40%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin-right: 60px;
}
h2 {
    font-size: 40px;
    color: #ffffff;
}
h3 {
    font-size: 18px;
    color: #171B21;
    font-weight: 600;
}
.fa-angle-right{
    margin-left: 5px;
}
.button {
    text-decoration: none;
     padding: 16px 25px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: #00BD56;
    display: inline-block;
    font-size: 18px;  
}
  .button:hover {
    transform: scale(1.1);
    transition: .3s;
  }
  .button-regular{
    display: block;
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 10px;
    color: #171B21;
    background-color: white;
    margin-bottom: 20px;
    font-size: 18px;  
  }
  .button-active{
    display: block;
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #00BD56;
  }
  .button-active-2{
    display: block;
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #00BD56;
    margin-bottom: 20px;
  }
  .margin-fix{
    margin-bottom: 0;
  }
/* .banner-image {
    transform: scale(1.2);
  } */
  .blog-gallery {
    margin-top: 180px;
    margin-bottom: 120px;
  }
.blog-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
}
.button-group {
    background-color: #171B21;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    /* display: block; */
    
}
.blogs-box {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 20px;
}
.blog {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.blog img {
    width: 100%;
}
.blog-info{
    padding: 20px;
}
.blog-button {
    font-size: 16px;
    font-weight: 400;
    display: block;
    color: #171B21;
    background-color: #ffffff;
    border: 1px solid #171B21;
    border-radius: 4px;
    padding: 4px 12px;
}
.blog-icons {
    display: flex;
}
.icons {
    font-weight: 300;
    margin-right: 30px;
}
.footer {
    background-color: #171B21;
    text-align: center;
   
}
hr {
    height: 1px;
    background-color: #ffffff1e;
    border: none;
}
.footer-menu {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.footer-item {
    font-size: 16px;
    color: #B9B9B9;
    /* float: left; */
   
}
.social a{
    color: #E8E8E8;
    padding: 10px;
}
.fab {
    padding: 10px;
    font-size: 20px;
}
.social .fab:hover{
    transform: scale(1.3);
    transition: 0.3s ease-in-out;
}
.button-hidden{
    /* display: none; */
    visibility: hidden;
}
.flags {
    display: flex;
    justify-content: center;
}
.flags p{
    /* padding: 10px; */
    padding: 0 5px;
}
/* .flags img {
    width: 80%;
} */
.flag-box {
    padding: 30px 20px;
    text-align: center;
    align-items: center;
}
.light-text {
    font-size: 16px;
    font-weight: 300;
}

/* tablet  */
@media only screen and (min-width: 688px) and (max-width: 992px) {
.container {
    padding: 60px 40px;
}
.banner {
    padding: 50px;
}
.blog-section {
display: flex;
flex-direction: column;
}
.button-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.button-regular{
    display: inline-block;
}
.button-active {
    display: inline-block;
}
.blogs-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.button-wrapper {
    /* display: flex; */
    text-align: center;
}
.button-hidden{
    visibility: visible;
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #00BD56;
    /* justify-content: center; */
    border: none;
    margin-top: 20px;
}
}


/* mobile  */
@media only screen and (max-width: 688px) {
.container {
    padding: 40px 20px;
}

.banner {
    background-color: #171B21;
    padding: 28px 38px 0 38px;
    text-align: center;
    display: block;

  }
.banner-info {
    width: 100%;
}
.banner img {
    width: 100%;
    position: relative;
    bottom: 0%;
    margin-top: 20px;
    /* right: 50%;
    left: 50%; */
}
.banner:hover img{
    transform: translate(20px, 7px) scale(1);
    transition: .5s;
}
.blog-section {
    display: flex;
    flex-direction: column;
    }
.blogs-box{
    display: grid;
    grid-template-columns:  1fr;
    margin-top: 20px;
}
.footer-menu {
    display: block;
    padding: 20px;
}
.footer-item {
    font-size: 16px;
    color: #B9B9B9;
}
.button-hidden {
    /* display: none; */
    visibility: hidden;
}
}